<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>同步串行</string>
	<string>同步并行</string>
	<string>异步串行</string>
	<string>异步并行</string>
	<string>死锁（线程阻塞）</string>
</array>
</plist>
